<div id="timeline">
  <div id="time-labels">
    <p>now</p>
    <p>+1h</p>
    <p>+2h</p>
  </div>

  <div id="eateries">
    <div class="location">Newell Simon</div>
    
      <a href="#" data-popup=".popup-asiana" class="open-popup">
      <div class="eatery">
        <div class="eatery-info">
          <p>Asiana</p>
        </div>
        <%= image_tag 'asiana.png' %>
      </div>
      </a>


    <div class="eatery">
      <div class="eatery-info">
        <p>Mitchell's</p>
      </div>
      <%= image_tag 'mitchells.png' %>
    </div>

    <div class="location">Resnik</div>
    

    <div class="eatery">
      <div class="eatery-info">
        <p>Nakama Express</p>
      </div>
      <%= image_tag 'nakama_express.png' %>
    </div>

    <div class="eatery">
      <div class="eatery-info">
        <p>Resnik Cafe</p>
      </div>
      <%= image_tag 'resnik_cafe.png' %>
    </div>


    <div class="eatery">
      <div class="eatery-info">
        <p>Taste of India</p>
      </div>
      <%= image_tag 'taste_of_india.png' %>
    </div>


    <div class="location">CUC</div>

    <div class="eatery">
      <div class="eatery-info">
        <p>El Gallo de Oro</p>
      </div>
      <%= image_tag 'el_gallo_de_oro.png' %>
    </div>

    <div class="eatery">
      <div class="eatery-info">
        <p>Skibo</p>
      </div>
      <%= image_tag 'skibo.png' %>
    </div>

    <div class="eatery">
      <div class="eatery-info">
        <p>Entropy</p>
      </div>
      <%= image_tag 'entropy.png' %>
    </div>

    <div class="eatery">
      <div class="eatery-info">
        <p>Creperie</p>
      </div>
      <%= image_tag 'creperie.png' %>
    </div>

  </div>

  <div id="board">
    <div id="now" class="ruler"></div>
    <div class="ruler"></div>
    <div class="ruler"></div>
  </div>
</div>


    <div class="popup popup-asiana">
        <p>Asiana</p>
        <a href="#" class="close-popup">Close popup</a>
        <p>Lorem ipsum dolor ...</p>
    </div>
