<div id="timeline">
  <div id="time-labels">
    <p>now</p>
    <p>+1h</p>
    <p>+2h</p>
  </div>

  <div id="eateries">
    <div class="location">Newell Simon</div>
    
      <a href="#" data-popup=".popup-asiana" class="open-popup">
      <div class="eatery">
        <div class="eatery-info">
          <p>Asiana</p>
        </div>
        <%= image_tag 'asiana.png' %>
      </div>
      </a>

    <% @locations.each do |loc| %>
      <div class="location"><%= loc.name %></div>
      <% loc.eateries.each do |eat| %>
        <div class="eatery<%= ' closed' unless eat.open? %>">
          <div class="eatery-info">
            <p><%= eat.name %></p>
          </div>
          <%= image_tag eat.name.parameterize.underscore %>
        </div>
      <% end %>
    <% end %>
  </div>

  <div id="board">
    <div id="now" class="ruler"></div>
    <div class="ruler"></div>
    <div class="ruler"></div>
  </div>
</div>


    <div class="popup popup-asiana">
        <p>Asiana</p>
        <a href="#" class="close-popup">Close popup</a>
        <p>Lorem ipsum dolor ...</p>
    </div>
